<div class="col-lg-6 col-md-12">
    <div class="exprince_box ex_leftsidebox">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 padding-0 w-100">
                <div class="ex_leftside">
                    <h1>2018</h1>
                    <h4>Feb to Dec</h4>
                    <h1>2019</h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12 w-100">
                <div class="ex_rightside">
                    <h4>Senior UI/UX <span class="data_hover c-pink" data-hover="Designer">Designer</span>
                    </h4>
                    <span class="c-pink">Adobe</span>
                    <p class="ex_details">Sed ut unde omnis iste natus error sit totam rem
                        aperiam are many variations of done.</p>
                    <p class="more_content">Extra contant Sed ut perspiciatis unde omnis iste
                        natus.</p>
                    <a class="ex_btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
