<div class="port_progress_setions prt_toppadder80">
    <div class="progress_section">
        <div class="container">
            <div class="port_progress_mainbox">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center" v-for="item in skills">
                        <vue-ellipse-progress
                                :progress="item.progress"
                                color="#fff"
                                emptyColor="transparent"
                                line="square"
                        >
                            <p slot="legend-caption">{{ item.value }}</p>
                        </vue-ellipse-progress>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
