<div class="port_testimonial_setions prt_toppadder80 prt_bottompadder80 page_scroll" data-scroll="2"
     id="testi_sec"> <!-- start testimonial section  -->
    <div class="testimonial_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Testimonial</h2>
                        </div>
                        <h1 class="port_heading">words from clients</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="port_test_data">
                        <!-- Swiper -->
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" v-for="testimonial in testimonials">
                                    <testimonial-box v-bind="testimonial"></testimonial-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- End testimonial section  -->
