<div class="port_education_setions prt_toppadder80 prt_bottompadder80 "> <!-- start Education section  -->
    <div class="education_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Learning </h2>
                        </div>
                        <h1 class="port_heading">My Education</h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="education_main_wrapper ">
                        <template v-for="(item, index) in educations">
                            <left-side-education-item v-bind="item"
                                                      v-bind:rank="index"
                                                      v-if="(index + 1) % 2 === 0"
                            ></left-side-education-item>
                            <right-side-education-item v-bind="item"
                                                      v-bind:rank="index"
                                                      v-else
                            ></right-side-education-item>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
