<div class="port_experience_setions prt_toppadder80">
    <div class="experience_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Involvement</h2>
                        </div>
                        <h1 class="port_heading">My Experience</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <template v-for="(experience, index) in experiences">
                    <left-side-box-experience
                            :is-even="index % 2 === 0" v-bind="experience"
                            v-if="(Math.ceil(index / 2) % 2) === index % 2"
                    >
                    </left-side-box-experience>
                    <right-side-box-experience
                            :is-even="index % 2 === 0"
                            v-bind="experience"
                            v-else
                    >
                    </right-side-box-experience>
                </template>
            </div>
        </div>
    </div>
</div>
