<div class="col-lg-6 col-md-12">
    <div class="exprince_box ex_rightsidebox">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-12 w-100">
                <div class="ex_rightside">
                    <h4>{{ level }} <span :class="{ 'c-orange': isEven, 'c-cyan': !isEven }" :data-hover="position"
                                          class="data_hover">{{ position }}</span>
                    </h4>
                    <span :class="{ 'c-orange': isEven, 'c-cyan': !isEven }">{{ enterprise }}</span>
                    <p class="ex_details">{{ description }}</p>
                    <p class="more_content">{{ moreContent }}</p>
                    <a class="ex_btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12 padding-0 w-100">
                <div class="ex_leftside">
                    <h1>{{ from.year }}</h1>
                    <h4>{{ from.month }} to {{ to.month }}</h4>
                    <h1>{{ to.year }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
