<div class="port_projects_setions prt_bottompadder50 prt_toppadder80 page_scroll" data-scroll="1"
     id="project_sec"> <!-- start Portfolio section  -->
    <div class="projects_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Quality Work</h2>
                        </div>
                        <h1 class="port_heading">My Projects</h1>
                    </div>
                </div>

                <div class="port_project_gallery text-center">
                    <div class="gallery_nav">
                        <ul>
                            <li><a class="gallery_active" data-filter="*">all</a></li>
                            <li><a data-filter=".design"> Design</a></li>
                            <li><a data-filter=".development">Development</a></li>
                            <li><a data-filter=".photoshop">Photoshop</a></li>
                            <li><a data-filter=".template">Template</a></li>
                        </ul>
                    </div>
                    <div class="gallery_container">
                        <div class="gallery_grid">
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                            <project-item></project-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Portfolio section  -->
