<div class="port_blog_mainbox vertical_content">
    <div class="port_blog_imgbox">
        <img alt="blog-image" class="img-fluid" :src="picture"/>
    </div>
    <div class="port_blog_contentbox">
        <span class="date_span">{{ date }}</span>
        <h4 class="blog_heading">
            <a href="blog.html">{{ title }}</a>
        </h4>
        <div class="blog_info">
            <ul>
                <li><i class="fas fa-user-edit"></i><a href="">By {{ user }}</a></li>
                <li><i class="far fa-comments"></i><a href="">{{ commentsNb }}</a></li>
            </ul>
        </div>
        <p>{{ content }}</p>
        <div class="blog_readmore">
            <a class="readmore_btn" href="blog.html">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
    </div>
</div>
