<div class="port_blog_setions prt_toppadder80 prt_bottompadder50"> <!-- start Blog section  -->
    <div class="blog_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">My Blog</h2>
                        </div>
                        <h1 class="port_heading">Recent News</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4" v-for="blog in blogs">
                        <blog-post v-bind="blog"></blog-post>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
